<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Page</title>
    <%- include ('../partials/bootstrap.ejs') %> <%-
    include('../partials/gallery.ejs') %> <%- include ('../partials/head.ejs')
    %>
  </head>

  <body>
    <h1><%if(games){%> <%= games.name %><%}%></h1>
    <br />
    <h2><%if(games){%><%=games.title%><% } %></h2>

    <br />
    <% if(games){%>
    <img
      src="data:image/<%=games.myImg.contentType%>;base64,<%=games.myImg.data.toString('base64')%>"
      height="300"
    />
    <% } %>

    <br />
    <br />
    <p><% if(games) {%> <%= games.desc%> <% } %></p>
    <br />
    <br />
    <%if(games){%><a href="/<%=games.id%>/edit">Edit Log</a><% } %> <br />
    <br />

    <form style="display: inline" <%if(games){%>
      action="/<%=games.id %>?_method=DELETE" <% } %> method="POST" >

      <input type="submit" value="DELETE" />
    </form>
    <br />

    <a href="/">Return to homepage</a>
  </body>
</html>
